systran-storages @ https://github.com/SYSTRAN/storages/archive/84933ab516259cc254e4bfa16951bdbf131d5e32.tar.gz
jsonschema==3.*
json-stream==2.2.*
pyonmttok==1.37.1
requests==2.*
systran-align>=3.3,<4;platform_system=='Linux'
fasttext-wheel==0.9.2
