systran-storages @ https://github.com/SYSTRAN/storages/archive/2fedd9200c66294d0396c00437c03b19b5523cd3.tar.gz
jsonschema==3.*
pyonmttok==1.36.0
requests==2.*
systran-align>=3.3,<4;platform_system=='Linux'
fasttext-wheel==0.9.2
